.pl,
.pl:before,
.pl:after {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.pl {
  margin: 0 auto 1.5em auto;
  position: relative;
  width: 3em;
  height: 3em;
}
.pl:before,
.pl:after {
  background: currentColor;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  transform-origin: 50% 100%;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.pl-fade:before {
  animation-name: fadeA;
}
.pl-fade:after {
  animation-name: fadeB;
}
@keyframes fadeA {
  from,
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
  25%,
  75.1% {
    opacity: 0;
    transform: rotate(0deg);
  }
  25.1%,
  75% {
    opacity: 0;
    transform: rotate(180deg);
  }
  50% {
    opacity: 1;
    transform: rotate(180deg);
  }
}
@keyframes fadeB {
  from,
  50% {
    opacity: 0;
    transform: rotate(90deg);
  }
  25% {
    opacity: 1;
    transform: rotate(90deg);
  }
  50.1%,
  to {
    opacity: 0;
    transform: rotate(270deg);
  }
  75% {
    opacity: 1;
    transform: rotate(270deg);
  }
}

.cell {
  margin-left: 100%;
}
/*  */
.loader {
  animation: loader-turn 1s linear infinite;
  padding: 1rem;
  max-width: 60px;
  width: 100%;
}
@keyframes loader-turn {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
.loader__value {
  animation: loader-stroke 6s linear infinite;
  fill: none;
  stroke-dasharray: 63;
  stroke-dashoffset: 63;
  stroke-linecap: round;
  stroke-width: 4;
}
.loader__value:nth-child(1) {
  stroke: #799351;
}
.loader__value:nth-child(2) {
  stroke: #ffa36c;
  animation-delay: 1s;
}
.loader__value:nth-child(3) {
  stroke: #a20a0a;
  animation-delay: 2s;
}
.loader__value:nth-child(4) {
  stroke: #f6eec9;
  animation-delay: 3s;
}
.loader__value:nth-child(5) {
  stroke: #474554;
  animation-delay: 4s;
}
.loader__value:nth-child(6) {
  stroke: pink;
  animation-delay: 5s;
}
@keyframes loader-stroke {
  8.3333333333% {
    stroke-dashoffset: 0;
  }
  16.6666666667%,
  100% {
    stroke-dashoffset: 63;
  }
}
