/* Texto lindo */
body {
  color: #474554;
  background-color: #d6d6d6;
}
.css-h2 {
  font-size: 48px;
  font-weight: 800;
  margin: 0px;
  line-height: 1;
  letter-spacing: -0.05em;
  /*  color: black; */
}

.custom-font-color {
  color: #474554;
}

.primerTitulo {
  font-size: 4rem;
  font-weight: 800;
  margin: 0px;
  line-height: 1;
  letter-spacing: -0.05em;
  /* color: black; */
  color: #474554;
}

.categorycard-img {
  height: 230px;
  display: inline-block;
}

.categorycard-img img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}

.custom-category-card {
  width: 30%;
}

.cardglobal {
  transition: 0.3s ease-in-out;
  /* border: solid 1px #474554; */
  background-color: #ffffff;
}

.cardglobal:hover {
  box-shadow: 0 0 3px 3px #ffa36c;
}

.custom-product-card {
  width: 45%;
  background-color: #ffffff;
}

.add-to-cart-btn {
  background-color: #799351;
  color: #f6eec9;
}

.product-card-btn {
  background-color: #f6eec9;
  color: #474554;
}

.product-card-btn:hover {
  background-color: #799351;
  color: #f6eec9;
}

.badge-custom {
  background-color: #a20a0a;
}

.payment-list,
.payment-list i {
  color: #474554;
}

@media (max-width: 768px) {
  .custom-product-card {
    width: 100%;
  }
}


.my-custom-card {
  border: 1px solid #474554;
  box-shadow: 0px 0px 2px 2px rgba(71, 69, 84, 0.3);
    background-color: white;
    color: #474554;
}

.my-custom-card a {
 color: #ffa36c;
}
.my-custom-card h2, .my-custom-card h4 {
  font-size: 2rem;
  font-weight: 800;
  margin: 1rem 0;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #474554;
}

.my-custom-card button{
  background-color: #799351;
  color:white;
}

.my-custom-card .remove-btn{
  color: #a20a0a;
}

.form-control:focus{
  color:#495057;
  background-color:#fff;
  border-color:#ffa36c;
  outline:0;
  box-shadow:0 0 0 .2rem rgba(255,163,108,.25);
}


