/* Texto lindo */
.css-h2 {
  font-size: 48px;
  font-weight: 800;
  margin: 0px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: black;
}

.primerTitulo {
  font-size: 4rem;
  font-weight: 800;
  margin: 0px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: black;
  
}
