.my-brand-style {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #474554;
}

.my-brand-style:hover {
  color: #474554;
}
.nav-link {
  color: #474554;
}

.nav-link.active {
  color: #799351;
}

.nav-link:hover {
  color: #ffa36c;
}

header.portada-admin {
  /* The image used */
  background: rgb(108, 108, 108);
  background: radial-gradient(
    circle,
    rgba(108, 108, 108, 0.4990371148459384) 0%,
    rgba(71, 69, 84, 1) 100%
  );
  /* url("../../assets/2021.jpg"); */

  min-height: 250px;

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

header.portada-admin::after {
  /* The image used */
  content: "Panel de administrador";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f6eec9;
  font-size: 4.5rem;
  font-weight: 800;
  margin: 0px;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
  text-shadow: 3px 3px rgba(71, 69, 84, 0.5018382352941176);
}

header.portada-home {
  /* The image used */
  background: rgb(108, 108, 108);
  background: radial-gradient(
      circle,
      rgba(108, 108, 108, 0.4990371148459384) 0%,
      rgba(71, 69, 84, 1) 100%
    ),
    url("../../assets/portada-login-register.jpg");

  min-height: 500px;

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

header.portada-home::after {
  content: "Bienvenidos a HackGaming";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f6eec9;
  font-size: 4.5rem;
  font-weight: 800;
  margin: 0px;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
  text-shadow: 3px 3px rgba(71, 69, 84, 0.5018382352941176);
}

header.portada-home.active::after {
  content: "";
}

header.portada-shop {
  /* The image used */
  background: rgb(108, 108, 108);
  background: radial-gradient(
      circle,
      rgba(108, 108, 108, 0.4990371148459384) 0%,
      rgba(71, 69, 84, 1) 100%
    ),
    url("../../assets/newfondo.jpg");

  min-height: 250px;

  /* Center and scale the image nicely */
  background-position: center 65%;
  background-repeat: no-repeat;
  background-size: cover;
  /* Needed to position the navbar */
  position: relative;
}

header.portada-shop::after {
  content: "Encuentra tus productos favoritos";
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-size: 4.5rem;
  font-weight: 800;
  margin: 0;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 56px);
  width: 100%;
  color: #f6eec9;
  text-shadow: 3px 3px rgba(71, 69, 84, 0.5018382352941176);
}

header.portada-shop.active::after {
  content: "";
}

header.portada-login-register {
  /* The image used */
  background: none;

  /* Needed to position the navbar */
  position: relative;
}

header.portada-product {
  /* The image used */
  background: rgb(108, 108, 108);
  background: radial-gradient(
      circle,
      rgba(108, 108, 108, 0.4990371148459384) 0%,
      rgba(71, 69, 84, 1) 100%
    ),
    url("../../assets/newfondo.jpg");

  min-height: 250px;

  /* Center and scale the image nicely */
  background-position: center 65%;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

header.portada-product::after {
  content: "Qué esperas para comprarlo?";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5rem;
  font-weight: 800;
  margin: 0px;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
  color: #f6eec9;
  text-shadow: 3px 3px rgba(71, 69, 84, 0.5018382352941176);
}

header.portada-product.active::after {
  content: "";
}

header.portada-cart {
  background: none;
}

@media (max-width: 768px) {
  header.portada-product::after,
  header.portada-shop::after,
  header.portada-home::after {
    font-size: 3.5rem;
  }
}

@media (max-width: 576px) {
  header.portada-product::after,
  header.portada-shop::after,
  header.portada-home::after {
    font-size: 3rem;
  }
}
