* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  color: #fff;
}

header.header-area {
  background: #43679c75;
  /* The image used */
  background-image: url("../../assets/2021.jpg");

  min-height: 500px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.header-padding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  width: 90%;
  margin: 0 auto;
}

.header-search {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  padding: 0px 5px;
  height: 40px;
  border-radius: 5px;
  position: relative;
  background: #fff;
}

.option-select-area {
  padding: 0 10px;
}

.option-select-area select {
  color: #00000096;
}

.option-select-area option {
  color: #00000096;
}

.header-search input {
  width: 300px;
  padding: 0px 20px;
  border-left: 1px solid rgb(221, 221, 221);
  color: #000000ab;
}

.header-search button {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 40px;
  background: #000000;
  z-index: 1;
  border-radius: 5px;
  cursor: pointer;
}

.header-search button span {
  z-index: 2;
  position: relative;
  color: #fff;
}

.header-search button:after {
  width: 10px;
  height: 10px;
  background: #ffcc00;
  content: "";
  position: absolute;
  left: -5px;
  top: 15px;
  transform: rotate(45deg);
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cart-area {
  position: absolute;
  right: -20px;
}

.cart-area span {
  position: absolute;
  right: -90px;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  line-height: 38px;
}

.cart-area span:nth-child(2) {
  right: -140px;
}

.header-social a {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 24px;
  background: #304a59;
  border-radius: 5px;
  margin-left: 10px;
}
