.custom-sidebar {
  max-height: 600px;
  overflow-y: auto;
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 50px;
}

.pro-sidebar-layout {
  background-color: #ffa36c;
  color: #474554;
}

.sidebar-btn {
  color: #474554;
}

.search-btn {
  background-color: #799351;
}
